<div class="center-login">

    <form name="ResetPassword.ResetPasswordForm" ng-submit="ResetPassword.resetPassword()" class="jumbotron login-form">


        <a class="pull-right close-button" ui-sref="login">&#10005;</a>

        <div class="login-inner">
            <h3>Reset Password</h3>

            <div class="form-group">

                <div class="form-group">

                    <jf-field validations="users" autofocus="true">
                        <input name="password"
                               type="password"
                               ng-model="ResetPassword.user.password"
                               ng-blur="ResetPassword.checkMatchingPasswords()"
                               ng-model-options="{updateOn: 'blur'}"
                               required
                               ng-minlength="4"
                               class="input-text"
                               placeholder="Password*"
                               id="password">
                    </jf-field>
                </div>

            </div>

            <div class="form-group">

                <div class="form-group-cell">

                    <jf-field validations="users">
                        <input name="repeatPassword"
                               type="password"
                               ui-validate="'$value==ResetPassword.user.password'"
                               ui-validate-watch="'ResetPassword.user.password'"
                               ng-model="ResetPassword.repeatPassword"
                               required
                               placeholder="Retype Password*"
                               class="input-text"
                               id="repeatpassword">
                    </jf-field>

                </div>


            </div>

        </div>

        <div class="login-button-bar">
            <button type="submit"
                    class="btn btn-primary pull-right"
                    ng-disabled="ResetPassword.ResetPasswordForm.$error.required">Submit</button>
        </div>
    </form>
</div>

