<div ng-if="jfRubyGems.gemsRubyData">
    <jf-panel jf-panel-heading="Package Info"
              ng-if="jfRubyGems.gemsRubyData.gemsInfo">
        <table class="jf-data-table">
            <tr ng-repeat="(key,value) in jfRubyGems.gemsRubyData.gemsInfo">
                <td ng-if="key == 'homepage'" class="gems-key">Homepage :</td>
                <td ng-if="key == 'homepage'"><a ng-href="{{value}}" target="_blank" class="gems-value">{{value}}</a></td>

                <td ng-if="key != 'homepage'">{{jfRubyGems.DICTIONARY[key]}} :</td>
                <td ng-if="key != 'homepage'" class="gems-value">{{value}}
                    <jf-clip-copy ng-if="key === 'repositoryPath'"
                                  text-to-copy="jfRubyGems.getRepoPath()"
                                  object-name="Path"></jf-clip-copy>

                </td>
            </tr>
        </table>
    </jf-panel>

    <jf-panel jf-panel-heading="Dependencies"
              ng-if="jfRubyGems.gemsRubyData.gemsDependencies && jfRubyGems.gemsRubyData.gemsDependencies.length">
        <div class="grid-container clearfix">
            <jf-grid-pagination grid-api="jfRubyGems.gemsRubyGridOptions.api"></jf-grid-pagination>
            <div ui-grid="jfRubyGems.gemsRubyGridOptions"
                 class="grid"></div>
        </div>
    </jf-panel>
</div>