<wicket:panel>
    <div class="links-border">
        <div class="links-top"></div>
        <div class="links-bottom"></div>
        <div class="links-left"></div>
        <div class="links-right"></div>
        <div class="links-top-left"></div>
        <div class="links-top-right"></div>
        <div class="links-bottom-left"></div>
        <div class="links-bottom-right"></div>

        <ul>
            <li wicket:id="item">
                <a wicket:id="link"></a>
            </li>
        </ul>
    </div>

    <div class="links-pointer"></div>
</wicket:panel>