<wicket:border>
	<div wicket:id="border">
		<div wicket:id="border">
			<div wicket:id="border">
				<div wicket:id="border">
					<div wicket:id="border">
						<div wicket:id="border">
							<div wicket:id="border">
								<div wicket:id="border">
									<h2 wicket:id="title">
										<span wicket:id="title"></span>
										<span wicket:id="tool"></span>
									</h2>

									<div class="border-content">
										<wicket:body/>
										<div class="clear"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</wicket:border>