<wicket:extend>
    <div class="repo-list-panel">
        <div wicket:id="localFileSet" class="field-border">
            <div wicket:id="localRepos" class="item">
                <a wicket:id="local-link" class="icon-link"></a>
            </div>
        </div>
        <div wicket:id="remoteFileSet" class="field-border">
            <div wicket:id="remoteRepos" class="item">
                <a wicket:id="remote-link" class="icon-link"></a>
            </div>
        </div>
        <div wicket:id="virtualFieldSetBorder" class="field-border">
            <div wicket:id="virtualRepos" class="item">
                <a wicket:id="virtual-link" class="icon-link"></a>
            </div>
        </div>
    </div>
</wicket:extend>