<wicket:panel>
    <h2 class="border-title sections">
        <span wicket:id="title"></span>
        <span wicket:id="tool"></span>
    </h2>
    <div class="border-wrapper">
        <div class="border-top">
            <div class="border-left">
                <div class="border-right">
                    <div class="border-top-left">
                        <div class="border-top-right">
                            <div class="border-bottom">
                                <div class="border-bottom-left">
                                    <div class="border-bottom-right">

                                        <div class="border-content">
                                            <wicket:child/>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</wicket:panel>