<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Artifactory is a binaries repository manager.
  ~ Copyright (C) 2012 JFrog Ltd.
  ~
  ~ Artifactory is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Lesser General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Artifactory is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with Artifactory.  If not, see <http://www.gnu.org/licenses/>.
  -->

<configuration debug="false">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%-5p] \(%-20c{3}:%L\) - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="TRAFFIC" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>target/traffic</File>
        <encoder>
            <pattern>%message%n</pattern>
        </encoder>
        <rollingPolicy class="org.artifactory.traffic.policy.TrafficTimeBasedRollingPolicy">
            <FileNamePattern>target/traffic.%d{yyyyMMdd}</FileNamePattern>
        </rollingPolicy>
    </appender>
    <root>
        <level value="WARN"/>
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="org.artifactory.traffic.TrafficLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="TRAFFIC"/>
    </logger>
</configuration>