<wicket:panel>
    <tr wicket:id="masterRow">
        <td wicket:id="cell">
            <div class="group">
                <div class="top-left">
                    <div class="top-right">
                        <div class="bottom-left">
                            <div class="bottom-right">
                                <div wicket:id="label" class="label"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr wicket:id="rows">
        <td wicket:id="cells">
            <span wicket:id="cell"></span>
        </td>
    </tr>
</wicket:panel>